<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/Index.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <link rel="stylesheet" href="/public/css/scrollbar.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/faqs.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <title>FAQ's P-vapes</title>
</head>
<body>

    <header>
        <a href="/Index.html"><div class="logo">LOGO</div></a>
        <div class="nav-container">
            <nav>
                <ul>
                    <a href="../Index.html#whyus" id="usnav">Why P-Vapes?</a>
                    <li><a href="/Views/Menu.html">Shop Vapes</a></li>
                    <li><a href="#" id="contactLink">Contact Us</a></li>
                    <li><a href="/Views/FAQS.html">FAQs</a></li>
                </ul>
            </nav>
        </div>
        <div class="icons-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#c8ff00" fill="none">
                <path d="M6.57757 15.4816C5.1628 16.324 1.45336 18.0441 3.71266 20.1966C4.81631 21.248 6.04549 22 7.59087 22H16.4091C17.9545 22 19.1837 21.248 20.2873 20.1966C22.5466 18.0441 18.8372 16.324 17.4224 15.4816C14.1048 13.5061 9.89519 13.5061 6.57757 15.4816Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z" stroke="currentColor" stroke-width="1.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#c8ff00" fill="none">
                <path d="M8 16H15.2632C19.7508 16 20.4333 13.1808 21.261 9.06908C21.4998 7.88311 21.6192 7.29013 21.3321 6.89507C21.045 6.5 20.4947 6.5 19.3941 6.5H6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                <path d="M8 16L5.37873 3.51493C5.15615 2.62459 4.35618 2 3.43845 2H2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                <path d="M8.88 16H8.46857C7.10522 16 6 17.1513 6 18.5714C6 18.8081 6.1842 19 6.41143 19H17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <circle cx="10.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
                <circle cx="17.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
            </svg>
        </div>
    </header>

    <div id="contactModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
                <path d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <h2 class="contact-title">Contact Us</h2>
            <form id="contactForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
    
                <a class="swipe">Send Message<span class="container">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                    </svg>
                </span></a>
            </form>
        </div>
    </div>

    <section class="faqs-container">
        <div class="faqs-title">
            <h2>FAQS</h2>
        </div>
        <div class="faqs-content">
            <div class="faq-category">
                <h3>Cancelaciones</h3>
                <div class="faq-details">
                    <div class="faq-list">
                        <div class="faq">
                            <p class="question">¿Cómo puedo cancelar mi pedido?</p>
                            <p class="answer">Sólo en compras de mayoreo cuando el pedido no ha sido pagado en su totalidad vía mensaje con un asesor de ventas.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="faq-category">
                <h3>Pagos</h3>
                <div class="faq-details">
                    <div class="faq-list">
                        <div class="faq">
                            <p class="question">¿Qué métodos de pago aceptan?</p>
                            <p class="answer">Aceptamos únicamente PayPal y transferencias bancarias. Las transferencias deben realizarse a través de WhatsApp para obtener más información.</p>
                        </div>
                        
                        <div class="faq">
                            <p class="question">¿Puedo pagar a plazos?</p>
                            <p class="answer">No, no ofrecemos opciones de pago a plazos.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="faq-category">
                <h3>Envíos</h3>
                <div class="faq-details">
                    <div class="faq-list">
                        <div class="faq">
                            <p class="question">¿Hacen envíos nacionales?</p>
                            <p class="answer">Sí, realizamos envíos a todo el pais</p>
                        </div>
                        <div class="faq">
                            <p class="question">¿Qué paqueterías manejan?</p>
                            <p class="answer">DHL, ESTAFETA, FEDEX</p>
                        </div>
                        <div class="faq">
                            <p class="question">Realice mi pedido pero no recibí mi guía ¿Como me puedo poner en contacto con ustedes?</p>
                            <p class="answer"> Vía WhatsApp con un asesor de ventas 8993348665</p>
                        </div>
                        <div class="faq">
                            <p class="question">¿Cuando recibire mi pedido y como puedo hacer el seguimiento de la entrega?</p>
                            <p class="answer">De 3 a 5 días hábiles según lo estipulado por paquetería 
                            </p>
                        </div>
                        <div class="faq">
                            <p class="question">¿Tienen garantia de envio?</p>
                            <p class="answer">Nos hacemos responsables del seguro en tus piezas, incautaciones y problemas de logística resueltos por la empresa responsable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="faq-category">
                <h3>Ubicación</h3>
                <div class="faq-details">
                    <div class="faq-list">
                        <div class="faq">
                            <p class="question">¿Cuentan con tiendas fisicas?</p>
                            <p class="answer">Se maneja la tienda en línea, si tu pedido es de REYNOSA, TAMAULIPAS, el pedido llega a tu domicilio.
                            </p>
                        </div>
                        <div class="faq">
                            <p class="question">¿Puedo recoger mi pedido en una tienda?</p>
                            <p class="answer">Se envía a tu domicilio completamente gratis en zona de REYNOSA, TAMAULIPAS, fuera de la ciudad tu entrega es enviada a tu domicilio o lo puedes recoger en paquetería.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer>

        <div class="top-section">

            <button class="button" id="scrollToTopButton">

                <svg class="svgIcon" viewBox="0 0 384 512">
                    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
                </svg>

            </button>

        </div>
        
    
        <div class="main-footer">

            <div class="footer-column logo-info">

                <div class="logos">
            
                    <img src="/public/img/Efren.png" alt="Logo Efren" class="logo efren-logo">

                    <img src="/public/img/Luis.png" alt="Logo Luis" class="logo luis-logo">
                </div>

                <p class="copyright">© 2024 efrenlopez.dev@outlook.com. </p>

                <p>Todos los derechos reservados.</p>

            </div>
    
            <div class="footer-column legal-info">

            </div>
    
            <div class="footer-column about-info">

                    <div class="footer-column">

                        <h3>Información Legal</h3>
                        <ul>
                            <li><a href="#">Temas Legales</a></li>
                            <li><a href="#">Políticas de Privacidad</a></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>Acerca</h3>
                        <ul>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>

                <div class="footer-column">
                    <h3>Tienda</h3>
                    <ul>
                        <li><a href="#">Mayoreo</a></li>
                        <li><a href="#">Menudeo</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Contacto</h3>
                    <ul>
                        <li><a href="#">Correo</a></li>
                        <li><a href="#">Redes Sociales</a></li>
                    </ul>
                </div>

            </div>
        </div>
    
        <div class="bottom-section">
            <h1>P-Vapes</h1>
        </div>
        
    </footer>

    <script src="/public/js/top.js"></script>
    <script src="/public/js/whyus.js"></script>
    <script src="/public/js/contactmoadl.js"></script>
    <script src="/public/js/scroll.js" defer></script>
    
</body>
</html>