<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/Menu.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link href="https://api.fontshare.com/v2/css?f[]=sora@300,400,500,600,700&display=swap" rel="stylesheet"> 

    <title>P-Vapes Menu</title>

</head>
<body>



    <section>
    </section>
    
    <footer>

        <div class="top-section">

            <button class="button" id="scrollToTopButton">

                <svg class="svgIcon" viewBox="0 0 384 512">
                    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
                </svg>

            </button>

        </div>
        
    
        <div class="main-footer">

            <div class="footer-column logo-info">

                <div class="logos">
            
                    <img src="/public/img/Efren.png" alt="Logo Efren" class="logo efren-logo">

                    <img src="/public/img/Luis.png" alt="Logo Luis" class="logo luis-logo">
                </div>

                <p class="copyright">© 2024 efrenlopez.dev@outlook.com. </p>

                <p>Todos los derechos reservados.</p>

            </div>
    
            <div class="footer-column legal-info">

            </div>
    
            <div class="footer-column about-info">

                    <div class="footer-column">

                        <h3>Información Legal</h3>
                        <ul>
                            <li><a href="#">Temas Legales</a></li>
                            <li><a href="#">Políticas de Privacidad</a></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>Acerca</h3>
                        <ul>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>

                <div class="footer-column">
                    <h3>Tienda</h3>
                    <ul>
                        <li><a href="#">Mayoreo</a></li>
                        <li><a href="#">Menudeo</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Contacto</h3>
                    <ul>
                        <li><a href="#">Correo</a></li>
                        <li><a href="#">Redes Sociales</a></li>
                    </ul>
                </div>

            </div>
        </div>
    
        <div class="bottom-section">
            <h1>P-Vapes</h1>
        </div>
        
    </footer>

    <script src="/public/js/top.js"></script>
    <script src="/public/js/cursor.js"></script>

</body>
</html>