<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <form action="" id="regis">
            <label for="" class="label">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
            <label for="" class="label">Last name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Lastname">
            <label for="" class="label">Email</label>
            <input type="text" name="email" id="email" placeholder="Email">
            <label for="" class="label">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <label for="" class="label">State</label>
            <input type="text" name="state" id="state" placeholder="State">
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</body>
</html>