.brands {
    display: flex;
    justify-content: center; /* Centra el contenedor .imgbrands en la sección */
    align-items: center;
}

.imgbrands {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas para las imágenes */
    gap: 150px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra horizontalmente cada imagen */
    align-items: center; /* Centra verticalmente cada imagen */
}

.imgbrands img {
    max-width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para transformaciones */
}

.imgbrands img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen ligeramente al hacer hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra alrededor de la imagen */
}