.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background: rgba(217, 217, 217, 0.80);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.contact-form input, .contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.contact-image img {
    max-width: 100%;
    border-radius: 15px;
}