header {
    background-color: transparent;
    width: 100dvw;
    height: 100dvh;
    padding: 2dvh 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 887px;
    height: 131px;
    margin: 50px auto 0; /* Margen superior de 130px y centrado horizontal */
    flex-shrink: 0;
    background: rgba(255, 252, 252, 0.90);
    border-radius: 30px;
}


.nav img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0 42px; /* Ajuste de margen para separación */
}

.nav img:first-child {
    margin-left: 0; /* Sin margen izquierdo para el primer elemento */
}

.nav img:last-child {
    margin-right: 0; /* Sin margen derecho para el último elemento */
}

.nav img:hover {
    transform: scale(1.1);
}

.title{
    margin-top: 150px;
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.title-1{
    color: #FFF;
    text-align: center;
    font-family: Federo;
    font-size: 270px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
