/* General design */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Page Colors */

:root {
    --black-primary: #0D0D0D;
    --black-secondary: #1A1A1A;
    --dark-gray: #333333;
    --bright-yellow-green: #C8FF00;
    --dark-yellow-green: #1d2400;
    --soft-white: #F2F2F2;
}

/* Bckground Color */

body {
    background-color: var(--black-primary);
}

/* Header Styling */

header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between text and image container */
    padding: 0 50px; /* Add space around header content */
    height: 100dvh;
    position: relative;
    overflow: hidden; /* Hide overflow to ensure images don't spill out */
}

/* Text Container */

#textContainer {
    display: flex;
    flex-direction: column;
    margin-right: 50px; /* Space between text and image container */
}

header h1 {
    font-size: 8rem;
    color: var(--bright-yellow-green);
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    margin-left: 50px;
}

header h2 {
    font-size: 2.5rem;
    color: var(--soft-white);
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    margin-left: 55px;

}

/* Image Container */

#imageContainer {
    display: flex;
    flex-direction: column;
    margin-right: 200px; /* Move images a bit more to the left */
    position: relative;
}

#imageContainer img {
    width: 300px; 
    height: auto;
    margin-bottom: 15px; 
    object-fit: cover; 
}

/* Button Container */

#buttonContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Botón de Menú */

#menuButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--bright-yellow-green);
}


/* Nuevo ícono */

#cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--bright-yellow-green);
    width: 30px;
    height: 30px;
    margin-left: 15px; 
}

/* SVG dentro del botón de menú */

#menuButton #menuButtonSVG {
    width: 24px;
    height: 24px;
}

/* Close Button */

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--bright-yellow-green);
}

#closeButton #closeButtonSVG {
    width: 24px;
    height: 24px;
}

/* Menu Overlay */

#menuOverlay {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-primary);
    transition: right 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#menuOverlay.active {
    right: 0;
}

#menuContent {
    display: flex;
    width: 80vw;
    height: 80vh;
    background-color: var(--black-secondary);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

#imageContainer {
    display: flex;
    position: absolute; 
    top: 25%;
    right: 0;
    width: 500px; 
    height: 100%; 
    overflow: hidden;
    background-color: transparent; 
}

#imageContainer img {
    width: 100%;
    height: auto;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


/* Menu Columns */

.menu-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--soft-white);
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    gap: 80px;
}

.menu-column.left {
    flex: 2;
}

.menu-column.right {
    flex: 1;
    border-left: 1px solid var(--bright-yellow-green);
}

/* Menu Items */

.menu-column ul {
    list-style: none;
    padding: 0;
}

.menu-column li {
    font-size: 2.5rem;
    color: var(--soft-white);
    margin: 80px 0;
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Línea horizontal para el hover */

.menu-column li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bright-yellow-green);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.menu-column li:hover {
    color: var(--bright-yellow-green);
    transform: translateX(5px);
}

.menu-column li:hover::after {
    transform: scaleX(1);
}

/* Small screens */

@media (max-width: 768px) {
    header h1 {
        font-size: 5rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    #menuButton #menuButtonSVG {
        width: 20px;
        height: 20px;
    }

    #closeButton #closeButtonSVG {
        width: 20px;
        height: 20px;
    }
}

/* Contenedor del slider */

#brandsSliderContainer {
    width: 100%;
    overflow: hidden; 
    position: relative;
    margin-bottom: 20px; 
}

/* Contenedor de las imágenes del slider */

#brandsSlider {
    display: flex;
    width: calc(100% * 1.5); 
    animation: scroll 15s linear infinite; 
}

/* Cada slide */

.slider-slide {
    flex: 0 0 auto; 
    width: 20%; 
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

/* Imágenes dentro del slider */

.slider-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Animación para el slider */

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* Contenedor del grid de sabores */

#flavorsGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: var(--black-primary);
    margin-top: 50px;
}

/* Estilos para el grid de sabores */

#flavorsGrid {
    width: 95vw; 
    height: 95vh; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: auto; 

}

.grid-item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.7s ease-in-out;
    padding: 1px; /* Padding para incluir el borde */
    background: radial-gradient(circle 220px at 0% 0%, #ffffff, #0c0d0d);
    border-radius: 10px; /* Mismo radio de borde que .outer */
}

.outer {
    width: 100%;
    height: 100%;
    border-radius: inherit; 
    position: relative;
}

.card {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: solid 1px #202222;
    background-size: 20px 20px;
    background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
}

.ray {
    width: 40%;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px var(--soft-white);
    filter: blur(40px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(30deg);
}

.card .text {
    font-weight: bolder;
    font-size: 2rem;
    background: linear-gradient(45deg, #000000 .1%, #fff, #000);
    background-clip: text;
    color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #2c2c2c;
}

.topl {
    top: 10%;
    background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.bottoml {
    bottom: 10%;
}

.leftl {
    left: 10%;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.rightl {
    right: 10%;
    width: 1px;
    height: 100%;
}

/* Orange */

#flavor1:hover{
    box-shadow: inset 0 0 45px rgba(255, 119, 0, 0.856); 
}

/* Banana */
#flavor2:hover{
    box-shadow: inset 0 0 45px rgba(255, 213, 0, 0.856);
}

/* Lime */
#flavor3:hover{
    box-shadow: inset 0 0 45px rgba(208, 255, 0, 0.856); 
}

/* Kiwi */
#flavor4:hover{
    box-shadow: inset 0 0 45px rgb(92, 121, 19); 
}

/* Watermelon */
#flavor5:hover{
    box-shadow: inset 0 0 45px rgb(92, 121, 19); 
}

/* Coco */
#flavor6:hover{
    box-shadow: inset 0 0 45px rgb(124, 100, 26);

}

/* Ice */
#flavor7:hover{
    box-shadow: inset 0 0 45px rgb(38, 211, 209);

}

/* Apple */
#flavor8:hover{
    box-shadow: inset 0 0 45px rgb(254, 32, 32);

}

/* Pineapple */
#flavor9:hover{
    box-shadow: inset 0 0 45px rgb(239, 232, 23); 
}

/* Peach */
#flavor10:hover{
    box-shadow: inset 0 0 45px rgb(255, 194, 28); 
}

/* Coke */
#flavor11:hover{
    box-shadow: inset 0 0 45px rgb(255, 14, 14);
}

/* More */
#flavor12:hover{
    box-shadow: inset 0 0 45px rgb(255, 255, 255); 
}

/* Mint */
#flavor13:hover{
    box-shadow: inset 0 0 45px rgb(0, 255, 115); 
}

/* Cherry */
#flavor14:hover{
    box-shadow: inset 0 0 45px rgb(255, 0, 0); 
}

/* Raspberry */
#flavor15:hover{
    box-shadow: inset 0 0 45px rgb(121, 19, 51); 
}


.grid-item::before {
    content: '';
    width: 220px;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px #fff;
    filter: blur(10px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(40deg);
}

.grid-item::after {
    content: '';
    width: 5px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px var(--bright-yellow-green);
    border-radius: 100px;
    z-index: 2;
    right: 10%;
    top: 10%;
    animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
    0%, 100% {
        top: 10%;
        right: 10%;
    }
    25% {
        top: 10%;
        right: calc(100% - 35px);
    }
    50% {
        top: calc(100% - 30px);
        right: calc(100% - 35px);
    }
    75% {
        top: calc(100% - 30px);
        right: 10%;
    }
}

/* Estilos adicionales para las imágenes dentro del grid */

.grid-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* Configuración de las posiciones y tamaños para cada .grid-item */

#flavor1 {
    grid-column: span 2; /* Ocupa dos columnas */
    grid-row: span 2; /* Ocupa dos filas */
}

#flavor2 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor3 {
    grid-column: span 2;
    grid-row: span 2;
}

#flavor4 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor5 {
    grid-column: span 2 ;
    grid-row: span 2;
}

#flavor6 {
    grid-column: span 2;
    grid-row: span 2;
}

#flavor7 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor8 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor9 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor10 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor11 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor12 {
    grid-column: span 2;
    grid-row: span 2;
}

#flavor13 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor14 {
    grid-column: span 2;
    grid-row: span 1;
}

#flavor15 {
    grid-column: span 2;
    grid-row: span ;
}

/* Efecto de hover para el texto con sombra y transición lenta */

.grid-item .text {
    transition: color 0.7s ease-in-out, text-shadow 0.7s ease-in-out;
}

/* Orange */
#flavor1:hover .text {
    color: rgba(255, 119, 0, 0.856); /* Naranja */
    text-shadow: 2px 2px 15px rgba(255, 119, 0, 0.856); /* Sombra nítida */
}

/* Banana */
#flavor2:hover .text {
    color: rgba(255, 213, 0, 0.856); /* Amarillo */
    text-shadow: 2px 2px 15px rgba(255, 213, 0, 0.856); /* Sombra amarilla */
}

/* Lime */
#flavor3:hover .text {
    color: rgba(208, 255, 0, 0.856); /* Verde Lima */
    text-shadow: 2px 2px 15px rgba(208, 255, 0, 0.856); /* Sombra verde lima */
}

/* Kiwi */
#flavor4:hover .text {
    color: rgb(92, 121, 19); /* Verde Kiwi */
    text-shadow: 2px 2px 15px rgb(92, 121, 19); /* Sombra verde kiwi */
}

/* Watermelon */
#flavor5:hover .text {
    color: rgb(92, 121, 19); /* Verde Sandía */
    text-shadow: 2px 2px 15px rgb(92, 121, 19); /* Sombra verde sandía */
}

/* Coco */
#flavor6:hover .text {
    color: rgb(124, 100, 26); /* Marrón Coco */
    text-shadow: 2px 2px 15px rgb(124, 100, 26); /* Sombra marrón coco */
}

/* Ice */
#flavor7:hover .text {
    color: rgb(38, 211, 209); /* Azul Hielo */
    text-shadow: 2px 2px 15px rgb(38, 211, 209); /* Sombra azul hielo */
}

/* Apple */
#flavor8:hover .text {
    color: rgb(254, 32, 32); /* Rojo Manzana */
    text-shadow: 2px 2px 15px rgb(254, 32, 32); /* Sombra rojo manzana */
}

/* Pineapple */
#flavor9:hover .text {
    color: rgb(239, 232, 23); /* Amarillo Piña */
    text-shadow: 2px 2px 15px rgb(239, 232, 23); /* Sombra amarillo piña */
}

/* Peach */
#flavor10:hover .text {
    color: rgb(255, 194, 28); /* Durazno */
    text-shadow: 2px 2px 15px rgb(255, 194, 28); /* Sombra durazno */
}

/* Coke */
#flavor11:hover .text {
    color: rgb(255, 14, 14); /* Rojo Coca-Cola */
    text-shadow: 2px 2px 15px rgb(255, 14, 14); /* Sombra rojo coca-cola */
}

/* More */
#flavor12:hover .text {
    color: rgb(255, 255, 255); /* Blanco */
    text-shadow: 2px 2px 15px rgb(255, 255, 255); /* Sombra blanca */
}

/* Mint */
#flavor13:hover .text {
    color: rgb(0, 255, 115); /* Verde Menta */
    text-shadow: 2px 2px 15px rgb(0, 255, 115); /* Sombra verde menta */
}

/* Cherry */
#flavor14:hover .text {
    color: rgb(255, 0, 0); /* Rojo Cereza */
    text-shadow: 2px 2px 15px rgb(255, 0, 0); /* Sombra rojo cereza */
}

/* Raspberry */
#flavor15:hover .text {
    color: rgb(170, 49, 88); /* Verde Frambuesa */
    text-shadow: 2px 2px 15px rgb(170, 49, 88); /* Sombra verde frambuesa */
}

.bento-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.bentos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    height: 90%;
}

/* Estilos de las cajas bento */

.bento-box {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid var(--soft-white);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(0.1px);
    transition: filter 2s ease, background-color 1.5s ease, opacity 1.5s ease, background-image 1.5s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.60;
    overflow: hidden;
}

.bento-box:hover {
    filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.1); 
    opacity: 1;
}

/* Estilos del texto */

.bento-box .text {
    font-weight: 700;
    font-family: Federo, sans-serif;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    z-index: 1;
    transition: opacity 1.5s ease;
}

.bento-box:hover .text {
    opacity: 0;
}

.bento-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    backdrop-filter: blur(10px);
    z-index: 0; 
    pointer-events: none;
    border-radius: 8px;
}

/* Estilos específicos para las cajas */

.box1 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('/public/img/Promo_7.jpg');
}

.box2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background-image: url('/public/img/Promo_4.jpg');
}

.box3 {
    grid-column: 3;
    grid-row: 2 / span 2;
    background-image: url('/public/img/Promo_5.jpg');
}

.box4 {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-image: url('/public/img/Promo_1.jpg');

}


.box6 {
    grid-column: 4;
    grid-row: 2 / span 2;
    background-image: url('/public/img/Promo_10.jpg');

}


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Sora', sans-serif;
}

.top-section {
    background-color: var(--bright-yellow-green); 
    height: 15dvh;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.main-footer {
    background-color: var(--dark-yellow-green);
    display: flex;
    padding: 20px;
    color: #ffffff; 
    height: 35dvh; 
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    margin-top: 50px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 300;
}

.footer-column a:hover {
    text-decoration: underline; 
}

.footer-column h3 {
    color: var(--bright-yellow-green);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px; 
}

.footer-column ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.logo {
    max-width: 200px;
    height: auto; 
    margin-left: 20px; 
}

.copyright {
    font-size: 14px; 
    margin: 10px 0;
}

.bottom-section {
    background-color: var(--dark-yellow-green); 
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0 10px; 
}

.bottom-section h1 {
    margin: 0;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 22vw; 
    text-align: center; 
    color: var(--bright-yellow-green);
    line-height: 1; 
}

.about-info {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 100px; 
}

.logo-info {
    text-align: left; 
    margin-bottom: 20px; 
    margin-left: 25px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.logos {
    display: flex; 
    position: relative; 
}

.logo {
    width: 100px; 
    height: auto;
}

.efren-logo {
    z-index: 2; 
}

.luis-logo {
    z-index: 1; 
    margin-left: -20px; 
    opacity: 0.95; 
}

.copyright {
    font-size: 14px; 
    margin-top: 20px; 
    text-align: center; 
}

.copyright{
    font-weight: 600;
    color: var(--bright-yellow-green);
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(20, 30, 1, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--dark-yellow-green);
    align-items: center;
}

.button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100px;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 10px;
}