/* General design */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Page Colors */
:root {
    --black-primary: #0D0D0D;
    --black-secondary: #1A1A1A;
    --dark-gray: #333333;
    --bright-yellow-green: #C8FF00;
    --dark-yellow-green: #1d2400;
    --soft-white: #F2F2F2;

}

html {
    scroll-behavior: smooth;
}

/* Bckground Color */

body {
    background-color: var(--black-primary);
    font-family: 'Sora', sans-serif;
}

a{
    color: #F2F2F2;
    text-decoration: none; /* Eliminar el subrayado */
    cursor: pointer;
}